.custom-imgII {
    width: 195px;
}

.custom-img {
    width: 200px;
}

.custom-color {
    color: #66639c;
}


.bottom-efct {
    color: #66639c;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;

}

.bottom-efct:after {
    display: block;
    text-align: center;
    content: '';
    border-bottom: solid 3px #8280b8;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.bottom-efct:hover:after {
    transform: scaleX(1);
}























@media only screen and (max-width: 688px) {
    h6 {
        display: none;
    }
}


@media only screen and (max-width: 992px) {
    .custom-img {
        width: 150px;

    }

    h6 {
        display: none;
    }
}

@media only screen and (max-width: 1312px) {
    .custom-img {
        width: 180px;
    }

    h6 {
        display: none;
    }
}