@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


.book-btn {
    color: rgb(255, 255, 255);
    background-color: rgb(233, 101, 245);
    border-radius: 5px;
    border: none;
}

.book-btn:hover {
    background-color: rgb(197, 50, 211);
    transition: 0.1s;
}

.custom-text {
    font-family: 'Prompt', sans-serif;
    color: #000 !important;
    text-decoration: none;
}



*,
*:before,
*after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*/ .different {


    display: inline-block;
    color: rgb(96, 74, 146);
    text-decoration: none;

}

.different::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(96, 74, 146);
    transition: ease-in .3s;
}

.different:hover::after {
    width: 100%;
}


@media only screen and (max-width: 653px) {

    .different::after {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        background: rgb(96, 74, 146);
        transition: ease-in .3s;

    }

    .different:hover::after {
        width: 15%;
    }


}