.main-banner {
    margin-top: 0px;
}



.style-color {
    color: rgb(255, 255, 255);
}

.blur-img img:hover {
    filter: brightness(0.2);
    transition: all .5s linear;
}


.services-btn {
    background-image: linear-gradient(to bottom, #f1add7 0%, #8280b8 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}

.services-btn:hover {
    background-image: linear-gradient(to bottom, #e18dc1 0%, #66639c 100%);
    transition: fade-in 3s;
}