.main-banner {
    margin-top: 0px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    margin-top: 500px;
}

.style-color {
    color: rgb(255, 255, 255);
}

.blur-img img {
    filter: brightness(0.5);
    transition: 0.9s;
}


.carousel-item img {
    object-fit: cover;
    height: 800px;
}

.carousel-caption {
    top: 0;
    bottom: auto;
    margin-top: 300px;
}



/* --------------All media query for responsive text and image--------- */
@media only screen and (max-width: 1312px) {
    .carousel-caption {
        top: 0;
        bottom: auto;
        margin-top: 500px;
    }

    .carousel-item img {
        object-fit: cover;
        height: 500px;
    }

    .text-size {

        margin-top: -350px;
        font-size: 30px;
    }

    .main-text {
        color: rgb(235, 130, 245);
        font-size: 40px;
        padding-bottom: 50px;
    }
}

/* for mid size tabs */
@media only screen and (max-width: 992px) {
    .carousel-item img {
        object-fit: cover;
        height: 500px;
    }

    .text-size {
        margin-top: 150px;
        font-size: 20px;
    }

    .carousel-caption {
        top: 0;
        bottom: auto;
        margin-top: 0;
        font-size: medium;
    }
}

/* for small size tabs */

@media only screen and (max-width: 768px) {
    .carousel-item img {
        object-fit: cover;
        height: 500px;
    }

    .text-size {
        margin-top: 100px;
        font-size: 20px;
    }

    .carousel-caption {
        top: 0;
        bottom: auto;
        margin-top: 0;

    }
}

/* for mobile devices */

@media only screen and (max-width: 688px) {
    .carousel-item img {
        object-fit: cover;
        overflow: hidden;
        height: 500px;
    }

    .text-size {
        margin-top: 100px;
        font-size: 20px;
    }

    .carousel-caption {
        top: 0;
        bottom: auto;
        margin-top: 0;

    }
}